<html>
<head>
    <title>Hotel Reseravtion System</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Bakery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
   
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- animation-effect -->
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
    <link href='//fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
</head>

<body>
    <!-- banner -->
    <div class="banner-figures">
        <div class="banner">
            <div class="container banner-drop">
                <div class="header">
                    <div class="header-left">
                        <ul>
                            <li class="animated wow fadeInLeftBig" data-wow-duration="1200ms" data-wow-delay="800ms"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> @Session["addree"]</li>
                            <li class="animated wow fadeInLeftBig" data-wow-duration="1200ms" data-wow-delay="900ms"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @Session["phone"]</li>
                            <li class="animated wow fadeInLeftBig" data-wow-duration="1200ms" data-wow-delay="1000ms"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> @Session["hemail"]</li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <nav>
                            <ul>
                                <li class="active">
                                    <i class="glyphicon glyphicon-home" aria-hidden="true"></i><span>@Html.ActionLink("Home", "Index", "Home")</span>
                                </li>
                               
                                @if (Session["Name"] == null) { 
                                <li>
                                    <i class="glyphicon glyphicon-text-size" aria-hidden="true"></i><span>@Html.ActionLink("Booking", "login", "Home")</span>
                                </li>
                              
                                }
                                @if (Session["Name"] != null) { 
                                <li>
                                    <i class="glyphicon glyphicon-text-size" aria-hidden="true"></i><span>@Html.ActionLink("Booking", "booking", "Home")</span>
                                </li>
                                }
                                <li>
                                    <i class="glyphicon glyphicon-picture" aria-hidden="true"></i><span>@Html.ActionLink("Rooms", "RoomTypes", "Home")</span></a>
                                </li>
                                  @if (Session["Name"] != null) { 
                             <li>
                                    <i class="glyphicon glyphicon-picture" aria-hidden="true"></i><span>@Html.ActionLink("History", "History", "Home")</span>
                                </li>
                                }
                                <li>
                                    <a href="mail.html"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>@Html.ActionLink(" Comment", "MailUs", "Home")</span></a>
                                </li>
                                
                            </ul>
                        </nav>
                        <div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="logo animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1><a href="index.html"><span>Place of peace</span>@Session["hotelName"] </a></h1>
                </div>
                <div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <ul>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="google"></a></li>
                        <li><a href="#" class="p"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            (function ($) {
                $(".menu-icon").on("click", function () {
                    $(this).toggleClass("open");
                    $(".container").toggleClass("nav-open");
                    $("nav ul li").toggleClass("animate");
                });

            })(jQuery);
        </script>
    </div>

    @RenderBody()

    <!-- footer -->
    <div class="footer-copy animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
        <div class="container">
            <div class="footer-copy-grids">
                <div class="col-md-3 footer-copy-grid">
                    <h3>About <span>Bakery</span></h3>
                    <img src="~/images/6.jpg" alt=" " class="img-responsive" />
                    <p>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising pain was born.
                    </p>
                </div>
                <div class="col-md-3 footer-copy-grid" name="login" id="login">
                    <h3>LOGIN</h3>
                    <form action="~/Admin/loginMethod">
                        <input type="text" placeholder="Name" id="Name" name="Name" required>
                        <input type="password" placeholder="Password" id="Password" name="Password" style="background-color:Black;" size="27%" required>
                        <input type="submit" value="Login">
                    </form>
                        <form action="~/Home/signup">
                        <input type="submit" value="SignUp">
                    </form>
                </div>
                <div class="col-md-3 footer-copy-grid">
                    <h3>Popular <span>Items</span></h3>
                    <div class="footer-copy-grids">
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="~/images/1.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="~/images/2.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="~/images/3.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer-copy-grids">
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="~/images/4.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="~/images/5.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-xs-4 footer-copy-grid1">
                            <a href="single.html"><img src="images/2.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 footer-copy-grid">
                    <h3>Navigation</h3>
                    <ul>
                        <li>Mail Us</li>
                        <li>Blog</li>
                        <li>About Us</li>
                        <li>Short Codes</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer animated wow bounce" data-wow-duration="1000ms" data-wow-delay="800ms">
        <div class="container">
            <p>© 2016 Best Bakery. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- //footer -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>